<div class = 'row'>
  <div class = 'col-md-4'>
    <h1> TO DO </h1>
      <div class = 'panel panel-info'>
        <div class = 'panel panel-heading'>My To Do</div>
          <div class = 'panel-body'>This Is My Todo List</div>
            <div class = 'panel-footer'>This Is My Footer</div>
    </div>
  </div>

  <div class = 'col-md-4'>
    <h1> DOING </h1>
    <div class = 'panel panel-info'>
      <div class = 'panel panel-heading'>Doing</div>
        <div class = 'panel-body'>This Is My Todo List</div>
          <div class = 'panel-footer'>This Is My Footer</div>
    </div>
  </div>

  <div class = 'col-md-4'>
    <h1> DONE </h1>
    <div class = 'panel panel-info'>
      <div class = 'panel panel-heading'>Done</div>
        <div class = 'panel-body'>This Is My Todo List</div>
          <div class = 'panel-footer'>This Is My Footer</div>
    </div>
  </div>

</div>
